    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-logo">
                <img src="/assets/images/logodegraoscuro.png" alt="Oficios Circulares" class="logo">
                <span class="logo-text">Oficios Circulares</span>
            </a>
            <div class="nav-menu" id="nav-menu">
                <a href="/#que-es" class="nav-link">¿Qué es?</a>
                <a href="/#para-quien" class="nav-link">¿Para quién?</a>
                <a href="/#ofrecemos" class="nav-link">Qué ofrecemos</a>
                <a href="/#comunidad" class="nav-link">Comunidad</a>
                <a href="/blog/" class="nav-link">Blog</a>
                <a href="/faqs/" class="nav-link">FAQs</a>
                <a href="/sobre-nosotros/" class="nav-link">Sobre Nosotros</a>
                <a href="/#contacto" class="nav-link cta-nav">Únete</a>
            </div>
            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
